@media screen and (max-width: 900px) {
    .image-pane {display:none;}
}

.info-page {
  padding: 0;
  margin: 0;
}

.image-pane {
  float:left;
}

.info-pane {
  padding-left: 20px;
  float: left;
  width: 580px;
}

.video-cv {
  width: 560px;
  height: 315px;
}

.info-header {
  font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.info-body {
  .p {
    font-family: 'Yanone Kaffeesatz', 'Trebuchet MS', sans-serif;
  }
}


.linkedin-image {
  float: left;
  font-weight: bold;
}
